/* define property mixins for each font family and weight used */
:root {
	/* The name of the font family */
	--font-family: 'Klavika';
	--font-family-maven: 'MavenPro';
	/* The weights we'll be using */
	--font-weight-light: 100;
	--font-weight-light100: 100;
	--font-weight-light200: 200;
	--font-weight-light300: 300;
	--font-weight-normal: 400;
	--font-weight-heavy: 700;
	/* property-set defining the light font-face */
	--font--light: {
		font-family: var(--font-family);
		font-weight: var(--font-weight-light);
	};
	/* property-set defining the normal weight font-face */
	--font--normal: {
		font-family: var(--font-family);
		font-weight: var(--font-weight-normal);
	};
}

/* define @font-face setup */
@font-face {
	@apply --font--light;
	src: url('./fonts/klavikawebbasic/klavikawebbasic-light.eot') format('embedded-opentype'), url('./fonts/klavikawebbasic/klavikawebbasic-light.woff2') format('woff2'), url('./fonts/klavikawebbasic/klavikawebbasic-light.woff') format('woff'), url('./fonts/klavikawebbasic/klavikawebbasic-light.otf') format('opentype'), url('./fonts/klavikawebbasic/klavikawebbasic-light.ttf') format('truetype'), url('./fonts/klavikawebbasic/klavikawebbasic-light.svg#Klavika_Web_Basic_Light') format('svg');
}

@font-face {
	@apply --font--normal;
	src: url('./fonts/klavikawebbasic/klavikawebbasic-regular.eot') format('embedded-opentype'), url('./fonts/klavikawebbasic/klavikawebbasic-regular.woff2') format('woff2'), url('./fonts/klavikawebbasic/klavikawebbasic-regular.woff') format('woff'), url('./fonts/klavikawebbasic/klavikawebbasic-regular.otf') format('opentype'), url('./fonts/klavikawebbasic/klavikawebbasic-regular.ttf') format('truetype'), url('./fonts/klavikawebbasic/klavikawebbasic-regular.svg#Klavika_Web_Basic_Regular') format('svg');
}

@font-face {
	font-family: 'Maven Pro Regular';
	font-weight: var(--font-weight-normal);
	src: url('./fonts/mavenpro/regular/mavenpro-regular.eot') format('embedded-opentype'), url('./fonts/mavenpro/regular/mavenpro-regular.woff2') format('woff2'), url('./fonts/mavenpro/regular/mavenpro-regular.woff') format('woff'), url('./fonts/mavenpro/regular/mavenpro-regular.otf') format('opentype'), url('./fonts/mavenpro/regular/mavenpro-regular.ttf') format('truetype'), url('./fonts/mavenpro/regular/mavenpro-regular.svg') format('svg');
}

@font-face {
	font-family: 'Maven Pro Medium';
	font-weight: var(--font-weight-normal);
	src: url('./fonts/mavenpro/medium/mavenpro-medium.eot') format('embedded-opentype'), url('./fonts/mavenpro/medium/mavenpro-medium.woff2') format('woff2'), url('./fonts/mavenpro/medium/mavenpro-medium.woff') format('woff'), url('./fonts/mavenpro/medium/mavenpro-medium.otf') format('opentype'), url('./fonts/mavenpro/medium/mavenpro-medium.ttf') format('truetype'), url('./fonts/mavenpro/medium/mavenpro-medium.svg') format('svg');
}

@font-face {
	font-family: 'Maven Pro Black';
	font-weight: var(--font-weight-normal);
	src: url('./fonts/mavenpro/black/mavenpro-black.eot') format('embedded-opentype'), url('./fonts/mavenpro/black/mavenpro-black.woff2') format('woff2'), url('./fonts/mavenpro/black/mavenpro-black.woff') format('woff'), url('./fonts/mavenpro/black/mavenpro-black.otf') format('opentype'), url('./fonts/mavenpro/black/mavenpro-black.ttf') format('truetype'), url('./fonts/mavenpro/black/mavenpro-black.svg') format('svg');
}

@font-face {
	font-family: 'Maven Pro Bold';
	font-weight: var(--font-weight-normal);
	src: url('./fonts/mavenpro/bold/mavenpro-bold.eot') format('embedded-opentype'), url('./fonts/mavenpro/bold/mavenpro-bold.woff2') format('woff2'), url('./fonts/mavenpro/bold/mavenpro-bold.woff') format('woff'), url('./fonts/mavenpro/bold/mavenpro-bold.otf') format('opentype'), url('./fonts/mavenpro/bold/mavenpro-bold.ttf') format('truetype'), url('./fonts/mavenpro/bold/mavenpro-bold.svg') format('svg');
}

@font-face {
	font-family: 'Maven Pro Light';
	font-weight: var(--font-weight-light300);
	src: url('./fonts/mavenpro/light/300/mavenprolight300-regular.eot') format('embedded-opentype'), url('./fonts/mavenpro/light/300/mavenprolight300-regular.otf') format('opentype'), url('./fonts/mavenpro/light/300/mavenprolight300-regular.ttf') format('truetype'), url('./fonts/mavenpro/light/300/mavenprolight300-regular.woff') format('woff'), url('./fonts/mavenpro/light/300/mavenprolight300-regular.woff2') format('woff2'), url('./fonts/mavenpro/light/300/mavenprolight300-regular.svg') format('svg');
}

@font-face {
	font-family: 'Maven Pro Light';
	font-weight: var(--font-weight-light200);
	src: url('./fonts/mavenpro/light/200/mavenprolight200-regular.eot') format('embedded-opentype'), url('./fonts/mavenpro/light/200/mavenprolight200-regular.otf') format('opentype'), url('./fonts/mavenpro/light/200/mavenprolight200-regular.ttf') format('truetype'), url('./fonts/mavenpro/light/200/mavenprolight200-regular.woff') format('woff'), url('./fonts/mavenpro/light/200/mavenprolight200-regular.woff2') format('woff2'), url('./fonts/mavenpro/light/200/mavenprolight200-regular.svg') format('svg');
}

@font-face {
	font-family: 'Maven Pro Light';
	font-weight: var(--font-weight-light100);
	src: url('./fonts/mavenpro/light/100/mavenprolight100-regular.eot') format('embedded-opentype'), url('./fonts/mavenpro/light/100/mavenprolight100-regular.otf') format('opentype'), url('./fonts/mavenpro/light/100/mavenprolight100-regular.ttf') format('truetype'), url('./fonts/mavenpro/light/100/mavenprolight100-regular.woff') format('woff'), url('./fonts/mavenpro/light/100/mavenprolight100-regular.woff2') format('woff2'), url('./fonts/mavenpro/light/100/mavenprolight100-regular.svg') format('svg');
}

/* Font Icons */
@font-face {
	font-family: 'hawcons';
	src: url('./fonts/hawcons/hawcons.eot') format('embedded-opentype'), url('./fonts/hawcons/hawcons.woff') format('woff'), url('./fonts/hawcons/hawcons.ttf') format('truetype'), url('./fonts/hawcons/hawcons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="font-icon-"], [class*=" font-icon-"] {
	font-family: 'hawcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.14;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-icon-icon-1-mail-envelope:before {
	content: "\e600";
}
.font-icon-icon-2-mail-envelope-open:before {
	content: "\e601";
}
.font-icon-icon-3-mail-envelope-closed:before {
	content: "\e602";
}
.font-icon-icon-4-mail-envelope-open:before {
	content: "\e603";
}
.font-icon-icon-5-mail-envelope-open:before {
	content: "\e604";
}
.font-icon-icon-6-mail-envelope-closed:before {
	content: "\e605";
}
.font-icon-icon-7-mail-envelope-open:before {
	content: "\e606";
}
.font-icon-icon-8-mail-error:before {
	content: "\e607";
}
.font-icon-icon-9-mail-checked:before {
	content: "\e608";
}
.font-icon-icon-10-mail-cancel:before {
	content: "\e609";
}
.font-icon-icon-11-mail--forbidden:before {
	content: "\e60a";
}
.font-icon-icon-12-mail-add:before {
	content: "\e60b";
}
.font-icon-icon-13-mail-remove:before {
	content: "\e60c";
}
.font-icon-icon-14-flag:before {
	content: "\e60d";
}
.font-icon-icon-15-flag:before {
	content: "\e60e";
}
.font-icon-icon-16-flag:before {
	content: "\e60f";
}
.font-icon-icon-17-flag:before {
	content: "\e610";
}
.font-icon-icon-18-bookmark:before {
	content: "\e611";
}
.font-icon-icon-19-bookmark-add:before {
	content: "\e612";
}
.font-icon-icon-20-bookmark-remove:before {
	content: "\e613";
}
.font-icon-icon-21-eye-hidden:before {
	content: "\e614";
}
.font-icon-icon-22-eye:before {
	content: "\e615";
}
.font-icon-icon-23-star:before {
	content: "\e616";
}
.font-icon-icon-24-key:before {
	content: "\e617";
}
.font-icon-icon-25-key:before {
	content: "\e618";
}
.font-icon-icon-26-trash-can:before {
	content: "\e619";
}
.font-icon-icon-27-trash-can:before {
	content: "\e61a";
}
.font-icon-icon-28-information:before {
	content: "\e61b";
}
.font-icon-icon-29-information:before {
	content: "\e61c";
}
.font-icon-icon-30-book:before {
	content: "\e61d";
}
.font-icon-icon-31-book-bookmark:before {
	content: "\e61e";
}
.font-icon-icon-32-clipboard-edit:before {
	content: "\e61f";
}
.font-icon-icon-33-clipboard-add:before {
	content: "\e620";
}
.font-icon-icon-34-clipboard-remove:before {
	content: "\e621";
}
.font-icon-icon-35-clipboard:before {
	content: "\e622";
}
.font-icon-icon-36-clipboard-download:before {
	content: "\e623";
}
.font-icon-icon-37-clipboard-upload:before {
	content: "\e624";
}
.font-icon-icon-38-clipboard-checked:before {
	content: "\e625";
}
.font-icon-icon-39-clipboard-text:before {
	content: "\e626";
}
.font-icon-icon-40-clipboard-list:before {
	content: "\e627";
}
.font-icon-icon-41-note:before {
	content: "\e628";
}
.font-icon-icon-42-note-add:before {
	content: "\e629";
}
.font-icon-icon-43-note-remove:before {
	content: "\e62a";
}
.font-icon-icon-44-note-text:before {
	content: "\e62b";
}
.font-icon-icon-45-note-list:before {
	content: "\e62c";
}
.font-icon-icon-46-note-checked:before {
	content: "\e62d";
}
.font-icon-icon-47-note-important:before {
	content: "\e62e";
}
.font-icon-icon-48-notebook:before {
	content: "\e62f";
}
.font-icon-icon-49-notebook:before {
	content: "\e630";
}
.font-icon-icon-50-notebook:before {
	content: "\e631";
}
.font-icon-icon-51-notebook:before {
	content: "\e632";
}
.font-icon-icon-52-notebook-text:before {
	content: "\e633";
}
.font-icon-icon-53-notebook-list:before {
	content: "\e634";
}
.font-icon-icon-54-document:before {
	content: "\e635";
}
.font-icon-icon-55-document-text:before {
	content: "\e636";
}
.font-icon-icon-56-document-text:before {
	content: "\e637";
}
.font-icon-icon-57-document-download:before {
	content: "\e638";
}
.font-icon-icon-58-document-upload:before {
	content: "\e639";
}
.font-icon-icon-59-document-bookmark:before {
	content: "\e63a";
}
.font-icon-icon-60-document-diagrams:before {
	content: "\e63b";
}
.font-icon-icon-61-document-recording:before {
	content: "\e63c";
}
.font-icon-icon-62-document-table:before {
	content: "\e63d";
}
.font-icon-icon-63-document-music:before {
	content: "\e63e";
}
.font-icon-icon-64-document-movie:before {
	content: "\e63f";
}
.font-icon-icon-66-document-play:before {
	content: "\e640";
}
.font-icon-icon-67-document-graph:before {
	content: "\e641";
}
.font-icon-icon-68-document-time:before {
	content: "\e642";
}
.font-icon-icon-69-document-text:before {
	content: "\e643";
}
.font-icon-icon-70-document-code:before {
	content: "\e644";
}
.font-icon-icon-71-document-cloud:before {
	content: "\e645";
}
.font-icon-icon-72-documents:before {
	content: "\e646";
}
.font-icon-icon-73-documents:before {
	content: "\e647";
}
.font-icon-icon-74-document-search:before {
	content: "\e648";
}
.font-icon-icon-75-document-star:before {
	content: "\e649";
}
.font-icon-icon-76-document-unlocked:before {
	content: "\e64a";
}
.font-icon-icon-77-document-locked:before {
	content: "\e64b";
}
.font-icon-icon-78-document-error:before {
	content: "\e64c";
}
.font-icon-icon-79-document-cancel:before {
	content: "\e64d";
}
.font-icon-icon-80-document-checked:before {
	content: "\e64e";
}
.font-icon-icon-81-document-add:before {
	content: "\e64f";
}
.font-icon-icon-82-document-remove:before {
	content: "\e650";
}
.font-icon-icon-83-document-forbidden:before {
	content: "\e651";
}
.font-icon-icon-84-document-information:before {
	content: "\e652";
}
.font-icon-icon-85-folder-information:before {
	content: "\e653";
}
.font-icon-icon-86-document-list:before {
	content: "\e654";
}
.font-icon-icon-87-document-font:before {
	content: "\e655";
}
.font-icon-icon-88-inbox:before {
	content: "\e656";
}
.font-icon-icon-89-inboxes:before {
	content: "\e657";
}
.font-icon-icon-90-inbox-document:before {
	content: "\e658";
}
.font-icon-icon-91-inbox-document-text:before {
	content: "\e659";
}
.font-icon-icon-92-inbox-download:before {
	content: "\e65a";
}
.font-icon-icon-93-inbox-upload:before {
	content: "\e65b";
}
.font-icon-icon-94-folder:before {
	content: "\e65c";
}
.font-icon-icon-95-folder:before {
	content: "\e65d";
}
.font-icon-icon-96-folders:before {
	content: "\e65e";
}
.font-icon-icon-97-folder-download:before {
	content: "\e65f";
}
.font-icon-icon-98-folder-upload:before {
	content: "\e660";
}
.font-icon-icon-99-folder-unlocked:before {
	content: "\e661";
}
.font-icon-icon-100-folder-locked:before {
	content: "\e662";
}
.font-icon-icon-101-folder-search:before {
	content: "\e663";
}
.font-icon-icon-102-folder-error:before {
	content: "\e664";
}
.font-icon-icon-103-folder-cancel:before {
	content: "\e665";
}
.font-icon-icon-104-folder-checked:before {
	content: "\e666";
}
.font-icon-icon-105-folder-add:before {
	content: "\e667";
}
.font-icon-icon-106-folder-remove:before {
	content: "\e668";
}
.font-icon-icon-107-folder-forbidden:before {
	content: "\e669";
}
.font-icon-icon-108-folder-bookmark:before {
	content: "\e66a";
}
.font-icon-icon-109-document-zip:before {
	content: "\e66b";
}
.font-icon-icon-110-zip:before {
	content: "\e66c";
}
.font-icon-icon-111-search:before {
	content: "\e66d";
}
.font-icon-icon-112-search-plus:before {
	content: "\e66e";
}
.font-icon-icon-113-search-minus:before {
	content: "\e66f";
}
.font-icon-icon-114-lock:before {
	content: "\e670";
}
.font-icon-icon-115-lock-open:before {
	content: "\e671";
}
.font-icon-icon-116-lock-open:before {
	content: "\e672";
}
.font-icon-icon-117-lock-stripes:before {
	content: "\e673";
}
.font-icon-icon-118-lock-rounded:before {
	content: "\e674";
}
.font-icon-icon-119-lock-rounded-open:before {
	content: "\e675";
}
.font-icon-icon-120-lock-rounded-open:before {
	content: "\e676";
}
.font-icon-icon-121-combination-lock:before {
	content: "\e677";
}
.font-icon-icon-122-printer:before {
	content: "\e678";
}
.font-icon-icon-123-printer:before {
	content: "\e679";
}
.font-icon-icon-124-printer-text:before {
	content: "\e67a";
}
.font-icon-icon-125-printer-text:before {
	content: "\e67b";
}
.font-icon-icon-126-document-shred:before {
	content: "\e67c";
}
.font-icon-icon-127-shredder:before {
	content: "\e67d";
}
.font-icon-icon-128-document-scan:before {
	content: "\e67e";
}
.font-icon-icon-129-cloud-download:before {
	content: "\e67f";
}
.font-icon-icon-130-cloud-upload:before {
	content: "\e680";
}
.font-icon-icon-131-cloud-error:before {
	content: "\e681";
}
.font-icon-icon-132-cloud:before {
	content: "\e682";
}
.font-icon-icon-133-inbox-filled:before {
	content: "\e683";
}
.font-icon-icon-134-pen:before {
	content: "\e684";
}
.font-icon-icon-135-pen-angled:before {
	content: "\e685";
}
.font-icon-icon-136-document-edit:before {
	content: "\e686";
}
.font-icon-icon-137-document-certificate:before {
	content: "\e687";
}
.font-icon-icon-138-certificate:before {
	content: "\e688";
}
.font-icon-icon-139-package:before {
	content: "\e689";
}
.font-icon-icon-140-box:before {
	content: "\e68a";
}
.font-icon-icon-141-box-filled:before {
	content: "\e68b";
}
.font-icon-icon-142-box:before {
	content: "\e68c";
}
.font-icon-icon-143-box:before {
	content: "\e68d";
}
.font-icon-icon-144-box-bookmark:before {
	content: "\e68e";
}
.font-icon-icon-145-tag-cord:before {
	content: "\e68f";
}
.font-icon-icon-146-tag:before {
	content: "\e690";
}
.font-icon-icon-147-tags:before {
	content: "\e691";
}
.font-icon-icon-148-tag-add:before {
	content: "\e692";
}
.font-icon-icon-149-tag-remove:before {
	content: "\e693";
}
.font-icon-icon-150-tag-checked:before {
	content: "\e694";
}
.font-icon-icon-151-tag-cancel:before {
	content: "\e695";
}
.font-icon-icon-152-paperclip:before {
	content: "\e696";
}
.font-icon-icon-1-basketball:before {
	content: "\e697";
}
.font-icon-icon-2-baseball:before {
	content: "\e698";
}
.font-icon-icon-3-tennis-ball:before {
	content: "\e699";
}
.font-icon-icon-4-bowling-ball:before {
	content: "\e69a";
}
.font-icon-icon-5-billiard-ball:before {
	content: "\e69b";
}
.font-icon-icon-6-soccer-ball:before {
	content: "\e69c";
}
.font-icon-icon-7-soccer-court:before {
	content: "\e69d";
}
.font-icon-icon-8-football:before {
	content: "\e69e";
}
.font-icon-icon-9-football:before {
	content: "\e69f";
}
.font-icon-icon-10-basketball:before {
	content: "\e6a0";
}
.font-icon-icon-11-baseball-set:before {
	content: "\e6a1";
}
.font-icon-icon-12-tennis-ball:before {
	content: "\e6a2";
}
.font-icon-icon-13-trophy:before {
	content: "\e6a3";
}
.font-icon-icon-14-trophy-one:before {
	content: "\e6a4";
}
.font-icon-icon-15-trophy:before {
	content: "\e6a5";
}
.font-icon-icon-16-medal:before {
	content: "\e6a6";
}
.font-icon-icon-17-medal:before {
	content: "\e6a7";
}
.font-icon-icon-18-weights:before {
	content: "\e6a8";
}
.font-icon-icon-19-tennis-racket:before {
	content: "\e6a9";
}
.font-icon-icon-20-basketball-hoop:before {
	content: "\e6aa";
}
.font-icon-icon-21-table-tennis:before {
	content: "\e6ab";
}
.font-icon-icon-22-volleyball:before {
	content: "\e6ac";
}
.font-icon-icon-23-stop-watch:before {
	content: "\e6ad";
}
.font-icon-icon-24-stop-watch:before {
	content: "\e6ae";
}
.font-icon-icon-25-hockey-stick:before {
	content: "\e6af";
}
.font-icon-icon-26-hockey-sticks:before {
	content: "\e6b0";
}
.font-icon-icon-27-shuttlecock:before {
	content: "\e6b1";
}
.font-icon-icon-28-golf:before {
	content: "\e6b2";
}
.font-icon-icon-29-move:before {
	content: "\e6b3";
}
.font-icon-icon-30-clipboard-move:before {
	content: "\e6b4";
}
.font-icon-icon-31-award:before {
	content: "\e6b5";
}
.font-icon-icon-32-award:before {
	content: "\e6b6";
}
.font-icon-icon-33-award:before {
	content: "\e6b7";
}
.font-icon-icon-34-award:before {
	content: "\e6b8";
}
.font-icon-icon-35-medal:before {
	content: "\e6b9";
}
.font-icon-icon-36-medal:before {
	content: "\e6ba";
}
.font-icon-icon-37-boxing-glove:before {
	content: "\e6bb";
}
.font-icon-icon-38-whistle:before {
	content: "\e6bc";
}
.font-icon-icon-39-volleyball-water:before {
	content: "\e6bd";
}
.font-icon-icon-40-checkered-flag:before {
	content: "\e6be";
}
.font-icon-icon-41-target-arrow:before {
	content: "\e6bf";
}
.font-icon-icon-42-target:before {
	content: "\e6c0";
}
.font-icon-icon-43-sailing-boat:before {
	content: "\e6c1";
}
.font-icon-icon-44-sailing-boat-water:before {
	content: "\e6c2";
}
.font-icon-icon-45-bowling-pins:before {
	content: "\e6c3";
}
.font-icon-icon-46-bowling-pin-ball:before {
	content: "\e6c4";
}
.font-icon-icon-47-diving-goggles:before {
	content: "\e6c5";
}
.font-icon-icon-48-sports-shoe:before {
	content: "\e6c6";
}
.font-icon-icon-49-soccer-shoe:before {
	content: "\e6c7";
}
.font-icon-icon-50-ice-skate:before {
	content: "\e6c8";
}
.font-icon-icon-1-cloud:before {
	content: "\e6c9";
}
.font-icon-icon-2-cloud-sun:before {
	content: "\e6ca";
}
.font-icon-icon-3-cloud-moon:before {
	content: "\e6cb";
}
.font-icon-icon-4-cloud-rain:before {
	content: "\e6cc";
}
.font-icon-icon-5-cloud-sun-rain:before {
	content: "\e6cd";
}
.font-icon-icon-6-cloud-moon-rain:before {
	content: "\e6ce";
}
.font-icon-icon-7-cloud-snow:before {
	content: "\e6cf";
}
.font-icon-icon-8-cloud-sun-snow:before {
	content: "\e6d0";
}
.font-icon-icon-9-cloud-moon-snow:before {
	content: "\e6d1";
}
.font-icon-icon-10-cloud-lightning:before {
	content: "\e6d2";
}
.font-icon-icon-11-cloud-sun-lightning:before {
	content: "\e6d3";
}
.font-icon-icon-12-cloud-moon-lightning:before {
	content: "\e6d4";
}
.font-icon-icon-13-cloud-wind:before {
	content: "\e6d5";
}
.font-icon-icon-14-cloud-raindrops:before {
	content: "\e6d6";
}
.font-icon-icon-15-cloud-sun-raindrops:before {
	content: "\e6d7";
}
.font-icon-icon-16-cloud-moon-raindrops:before {
	content: "\e6d8";
}
.font-icon-icon-17-cloud-snowflakes:before {
	content: "\e6d9";
}
.font-icon-icon-18-cloud-sun-snowflakes:before {
	content: "\e6da";
}
.font-icon-icon-19-cloud-moon-snowflakes:before {
	content: "\e6db";
}
.font-icon-icon-20-clouds:before {
	content: "\e6dc";
}
.font-icon-icon-21-cloud-add:before {
	content: "\e6dd";
}
.font-icon-icon-22-cloud-remove:before {
	content: "\e6de";
}
.font-icon-icon-23-cloud-error:before {
	content: "\e6df";
}
.font-icon-icon-24-cloud-fog:before {
	content: "\e6e0";
}
.font-icon-icon-25--cloud-sun-fog:before {
	content: "\e6e1";
}
.font-icon-icon-26-cloud-moon-fog:before {
	content: "\e6e2";
}
.font-icon-icon-27-moon-stars:before {
	content: "\e6e3";
}
.font-icon-icon-28-moon:before {
	content: "\e6e4";
}
.font-icon-icon-29-sun:before {
	content: "\e6e5";
}
.font-icon-icon-30-sunrise:before {
	content: "\e6e6";
}
.font-icon-icon-31-sunset:before {
	content: "\e6e7";
}
.font-icon-icon-32-sunset:before {
	content: "\e6e8";
}
.font-icon-icon-33-sunset:before {
	content: "\e6e9";
}
.font-icon-icon-34-rainbow:before {
	content: "\e6ea";
}
.font-icon-icon-35-umbrella:before {
	content: "\e6eb";
}
.font-icon-icon-36-raindrops:before {
	content: "\e6ec";
}
.font-icon-icon-37-raindrop:before {
	content: "\e6ed";
}
.font-icon-icon-38-sunglasses:before {
	content: "\e6ee";
}
.font-icon-icon-39-stars:before {
	content: "\e6ef";
}
.font-icon-icon-40-clouds:before {
	content: "\e6f0";
}
.font-icon-icon-41-moonrise:before {
	content: "\e6f1";
}
.font-icon-icon-42-moonset:before {
	content: "\e6f2";
}
.font-icon-icon-43-wind:before {
	content: "\e6f3";
}
.font-icon-icon-44-full-moon:before {
	content: "\e6f4";
}
.font-icon-icon-45-crescent:before {
	content: "\e6f5";
}
.font-icon-icon-46-half-moon:before {
	content: "\e6f6";
}
.font-icon-icon-47-gibbous-moon:before {
	content: "\e6f7";
}
.font-icon-icon-48-moon:before {
	content: "\e6f8";
}
.font-icon-icon-49-gibbous-moon:before {
	content: "\e6f9";
}
.font-icon-icon-50-half-moon:before {
	content: "\e6fa";
}
.font-icon-icon-51-crescent:before {
	content: "\e6fb";
}
.font-icon-icon-52-barometer:before {
	content: "\e6fc";
}
.font-icon-icon-53-compass-north:before {
	content: "\e6fd";
}
.font-icon-icon-54-compass-west:before {
	content: "\e6fe";
}
.font-icon-icon-55-compass-east:before {
	content: "\e6ff";
}
.font-icon-icon-56-compass-south:before {
	content: "\e700";
}
.font-icon-icon-57-air-sock:before {
	content: "\e701";
}
.font-icon-icon-58-tornado:before {
	content: "\e702";
}
.font-icon-icon-59-degree-fahrenheit:before {
	content: "\e703";
}
.font-icon-icon-60-degree-celsius:before {
	content: "\e704";
}
.font-icon-icon-61-warning:before {
	content: "\e705";
}
.font-icon-icon-62-compass:before {
	content: "\e706";
}
.font-icon-icon-63-compass:before {
	content: "\e707";
}
.font-icon-icon-64-compass:before {
	content: "\e708";
}
.font-icon-icon-65-compass:before {
	content: "\e709";
}
.font-icon-icon-66-thermometer:before {
	content: "\e70a";
}
.font-icon-icon-67-thermometer-low:before {
	content: "\e70b";
}
.font-icon-icon-68-thermometer-quarter:before {
	content: "\e70c";
}
.font-icon-icon-69-thermometer-half:before {
	content: "\e70d";
}
.font-icon-icon-70-thermometer-three-quarters:before {
	content: "\e70e";
}
.font-icon-icon-71-thermometer-full:before {
	content: "\e70f";
}
.font-icon-icon-72-lightning:before {
	content: "\e710";
}
.font-icon-icon-73-wind-turbine:before {
	content: "\e711";
}
.font-icon-icon-74-snowflake:before {
	content: "\e712";
}
.font-icon-icon-6-smiling-face:before {
	content: "\e718";
}
.font-icon-icon-6-thumb-up:before {
	content: "\e759";
}
